@use "../../styles/media" as *;

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputLabel {
  font-size: 14px;
  margin-bottom: 4px;
}

.inputField {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-s);
  background-color: var(--color-light);

  &::placeholder {
    color: var(--color-light-gray);
  }
}

.inputError {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
