.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 14px;
  color: var(--color-dark);
  margin-bottom: 4px;
}

.input-field {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-s);

  &::placeholder {
    color: var(--color-light-gray);
  }
}

.input-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
