:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --color-accent: #ff8b04;
  --color-primary: #f2f2f2;
  --color-gray: #747270;
  --color-light-gray: #b0b0b0;
  --color-dark: #1f1f1f;
  --color-light: #fff;

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;

  --container-width: 1200px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}
